<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>SIH2020</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='style.css') }}">
 </head>
 <body>
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}" class="boxed-btn">Single Prediction</a></li><br><br>
            <li><a href="{{ url_for('page2') }}" class="boxed-btn">Model Training</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>
